{% extends 'base.html' %}


{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Trace Monitor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">

                </ul>
                <a href="{{ url_for('logout') }}">
                    <button class="btn btn-warning my-2 my-sm-0" type="submit">退出</button>
                </a>
            </div>
        </div>
    </nav>
{% endblock nav %}
{% block content %}
    <div class="container ">
    <div class="col-md-8 mx-auto">
    <h5>{{ records|length }} Records
        <small class="float-right">
            <a href="#bottom" title="Go Bottom">&darr;</a>
        </small>
    </h5>
    <div class="list-group">
        {% for record in records %}
            <a class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">{{ record.user.username }}
                        <small class="text-muted"> #{{ loop.revindex }}</small>
                    </h5>
                    <small class="text-info" >
                        {{ record.timestamp }}
                    </small>
                </div>
                <p class="mb-1 text-white">{{ record.user.st_card }}</p>
            </a>
        {% endfor %}
    </div>
    </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}