<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trace Monitor</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">Trace Monitor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('index' )}}">首页
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sign_up') }}">注册</a>
                    </li>
                </ul>
                <a href="{{url_for('login') }}" >
                <button class="btn btn-warning my-2 my-sm-0" type="submit" >管理</button>
                    </a>
            </div>
        </div>
    </nav>
{% endblock nav %}

<main >
    {% block content %}
        <div class="jumbotron my-xxl-5 mt-md-5">
            <div class="row py-xl-5">
                <div class="col-md-6 offset-2 ">

                    <img src="{{ url_for('static', filename='images/index.jpg') }}" class="rounded img-fluid"
                         alt="此处应有图片">

                </div>
                <div class="col-md-4 align-self-center">
                    <h1 id="result-description" data-href="{{ url_for('update_info') }}">扫描成功<br/>人名<br/>123456789101</h1>
                </div>
            </div>
        </div>
    {% endblock content %}

</main>
{% block footer %}
    <footer>
        <div class="container col-6">

            <p class="float-start">
                <small>&copy; 2021
                    <a href="#" title="Written by Vincent">CJ</a> -
                    <a href="#" title="A Flask project">HPUT</a>
                </small>
            </p>
            <p class="float-end">
                <small class="float-end">All rights reserved.</small>
            </p>

        </div>
    </footer>
{% endblock footer %}
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
<script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";

    </script>
</body>
</html>